DATABASE_URL="postgresql://deliveryreg:deliveryreg@localhost:5432/deliveryreg?schema=public"
AUTH_SECRET="troque-por-um-segredo-com-no-minimo-32-caracteres"
BUSINESS_TIMEZONE="America/Manaus"
NODE_ENV="development"
